@using SimpleShop.Application.Products.Queries.GetProductDetails
@model ProductDetailsDTO
@using SimpleShop.Application.Carts.Commands.AddToCart

@{
    ViewData["Title"] = @Model.Name;
}
<div class="app-content">

    <!--====== Section 1 ======-->
    <div class="u-s-p-t-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    @* <!--====== Product Detail Zoom ======-->
                    <div class="pd u-s-m-b-30">
                        <div class="slider-fouc pd-wrap">
                            <div id="pd-o-initiate">
                                @foreach (var file in Model.ImageUrls)
                                {
                                    var imageUrl = Url.Content($"~/images/products/{file}");
                                    <div class="pd-o-img-wrap" data-src="@imageUrl">

                                        <img class="u-img-fluid" src="@imageUrl" data-zoom-image="@imageUrl" alt="">
                                    </div>

                                }
                            </div>

                            <span class="pd-text">Click for larger zoom</span>
                        </div>
                        <div class="u-s-m-t-15">
                            <div class="slider-fouc">
                                <div id="pd-o-thumbnail">
                                    @foreach (var fileName in Model.ImageUrls)
                                    {
                                        <div>

                                            <img class="u-img-fluid" src="images/products/@fileName" alt="">
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--====== End - Product Detail Zoom ======--> *@

                    <!--====== Product Detail Zoom ======-->
                    <div class="pd u-s-m-b-30">
                        <div class="slider-fouc pd-wrap">
                            <div id="pd-o-initiate">
                                @foreach (var file in Model.ImageUrls)
                                {
                                    var imageUrl = Url.Content($"~/images/products/{file}");
                                    <div class="pd-o-img-wrap" data-src="@imageUrl">

                                        <img class="u-img-fluid" src="@imageUrl" data-zoom-image="@imageUrl" alt="">
                                    </div>
                                }

                            </div>

                            <span class="pd-text">Click for larger zoom</span>
                        </div>
                        <div class="u-s-m-t-15">
                            <div class="slider-fouc">
                                <div id="pd-o-thumbnail">
                                    @foreach (var file in Model.ImageUrls)
                                    {
                                        var imageUrl = Url.Content($"~/images/products/{file}");
                                        <div>

                                            <img class="u-img-fluid" src="@imageUrl" alt="">
                                        </div>

                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--====== End - Product Detail Zoom ======-->

                </div>
                <div class="col-lg-7">

                    <!--====== Product Right Side Details ======-->
                    <div class="pd-detail">
                        <div>

                            <span class="pd-detail__name">@Model.Name</span>
                        </div>
                        <div>
                            <div class="pd-detail__inline">

                                <span class="pd-detail__price">@Model.Price.ToString("N2")</span>
                            </div>
                        </div>
                        <div class="u-s-m-b-15">
                            <div class="pd-detail__inline">
                                @if (Model.IsInStock)
                                {
                                    <span class="pd-detail__stock">In stock</span>
                                }
                                else
                                {
                                    <span class="pd-detail__left">Out of stock</span>
                                }
                                <span class="pd-detail__stock">Category Name: @Model.CategoryName</span>
                            </div>
                        </div>
                        <div class="u-s-m-b-15">

                            <span class="pd-detail__preview-desc">@(Model.Description.Length > 100 ? Model.Description.Substring(0, 100) + "..." : Model.Description)</span>
                        </div>
                        <div class="u-s-m-b-15">
                            <form class="pd-detail__form" asp-controller="Cart" asp-action="AddToCart" method="post">
                                <input type="hidden" name="productId" value="@Model.Id" />
                                <div class="pd-detail-inline-2">
                                    <div class="u-s-m-b-15">
                                    </div>
                                    <div class="u-s-m-b-15">

                                        <button class="btn btn--e-brand-b-2" @(Model.IsInStock ? "" : "Disabled") type="submit">Add to Cart</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="u-s-m-b-15">

                            <span class="pd-detail__label u-s-m-b-8">Product Policy:</span>
                            <ul class="pd-detail__policy-list">
                                <li>
                                    <i class="fas fa-check-circle u-s-m-r-8"></i>

                                    <span>Buyer Protection.</span>
                                </li>
                                <li>
                                    <i class="fas fa-check-circle u-s-m-r-8"></i>

                                    <span>Full Refund if you don't receive your order.</span>
                                </li>
                                <li>
                                    <i class="fas fa-check-circle u-s-m-r-8"></i>

                                    <span>Returns accepted if product not as described.</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--====== End - Product Right Side Details ======-->
                </div>
            </div>
        </div>
    </div>

    <!--====== Product Detail Tab ======-->
    <div class="u-s-p-y-90">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="pd-tab">
                        <div class="u-s-m-b-30">
                            <ul class="nav pd-tab__list">
                                <li class="nav-item">

                                    <a class="nav-link active" data-toggle="tab" href="#pd-desc">DESCRIPTION</a>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-content">

                            <!--====== Tab 1 ======-->
                            <div class="tab-pane fade show active" id="pd-desc">
                                <div class="pd-tab__desc">
                                    <div class="u-s-m-b-15">
                                        <p>@Model.Description</p>
                                    </div>
                                    <div class="u-s-m-b-30">
                                        <ul>
                                            <li>
                                                <i class="fas fa-check u-s-m-r-8"></i>

                                                <span>Buyer Protection.</span>
                                            </li>
                                            <li>
                                                <i class="fas fa-check u-s-m-r-8"></i>

                                                <span>Full Refund if you don't receive your order.</span>
                                            </li>
                                            <li>
                                                <i class="fas fa-check u-s-m-r-8"></i>

                                                <span>Returns accepted if product not as described.</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!--====== End - Tab 1 ======-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--====== End - Product Detail Tab ======-->

</div>